# Converting Fair Market Rents

This notebook does a quick converstion of Fair Market Rents to Payment Standards in lieu of actual historical payment standard data from the City of Phoenix Housing Authority.

## Methodology

A payment standard is a guideline for the maximum a local public housing authority will spend on rent for a voucher recipient. According to HUD, payment standards are calculated based on a "basic range" of 90-110% of the 40th percentile of the local Fair Market Rent, as calculated and published annually by HUD. More on that page 8 here: https://www.hud.gov/sites/dfiles/PIH/documents/HCV_Guidebook_Payment_Standards.pdf

<br>

We're assuming the payment standard used is at the highest end of the "basic range", so at 110% of the region's Fair Market Rent. That assumption is further validated by the published May 2022 payment standards, which are 110% of FMRs. That can be found here: https://www.phoenix.gov/housingsite/Documents/HCV_Payment_Standards_May2022.pdf

<br>

There is an exception, as of Dec. 2021, that housing authorities with an "approved success rate payment standard" can use payment standards of up to 120% of FMR, but that has not yet been implemented in Phoenix so we are not factoring that into our analysis. See here for the HUD memo on the exception: https://www.hud.gov/sites/dfiles/PIH/documents/PIH2021-34.pdf

## Conversion

In [1]:
import pandas as pd

In [13]:
#load 2017-2022 Phoenix MSA FMR data
fmrs = pd.read_csv('/Users/amyqin/Documents/data/manual/fmrs_2017_2022.csv', header=0, index_col=0)

In [14]:
fmrs

             Efficiency  One-Bedroom  Two-Bedroom  Three-Bedroom  Four-Bedroom
Year
FY 2022 FMR        1005         1091         1311           1825          2078
FY 2021 FMR         933         1032         1251           1765          2010
FY 2020 FMR         847          958         1173           1676          1916
FY 2019 FMR         744          868         1073           1551          1776
FY 2018 FMR         684          815         1013           1474          1697
FY 2017 FMR         624          757          944           1374          1594

In [19]:
#scale by 1.1 and create a dataframe for payment standards, ps
ps = fmrs.copy()

ps['Efficiency'] = ps['Efficiency'].apply(lambda x: x*1.1)
ps['One-Bedroom'] = ps['One-Bedroom'].apply(lambda x: x*1.1)
ps['Two-Bedroom'] = ps['Two-Bedroom'].apply(lambda x: x*1.1)
ps['Three-Bedroom'] = ps['Three-Bedroom'].apply(lambda x: x*1.1)
ps['Four-Bedroom'] = ps['Four-Bedroom'].apply(lambda x: x*1.1)

In [20]:
ps

             Efficiency  One-Bedroom  Two-Bedroom  Three-Bedroom  Four-Bedroom
Year
FY 2022 FMR      1105.5       1200.1       1442.1         2007.5        2285.8
FY 2021 FMR      1026.3       1135.2       1376.1         1941.5        2211.0
FY 2020 FMR       931.7       1053.8       1290.3         1843.6        2107.6
FY 2019 FMR       818.4        954.8       1180.3         1706.1        1953.6
FY 2018 FMR       752.4        896.5       1114.3         1621.4        1866.7
FY 2017 FMR       686.4        832.7       1038.4         1511.4        1753.4

In [21]:
#export as csv
ps.to_csv('/Users/amyqin/Documents/data/processed/converted_fmrs_2017_2022.csv')